@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: vazir;
    src: url(../public/fonts/Vazir-Light.ttf);
}

:root {
    --main-color1: #025464;
    --main-color2: #E57C23;
    --main-color3: #E8AA42;
    --main-color4: #F8F1F1;
    
}

body , .MuiTypography-root{
    font-family: vazir ;
}

.menu-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    width: 0;
    background-color: var(--main-color2);
}

.menu-item:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.4s;

}